<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fleyx.jcloud.mapper.RecycleRecordMapper">

    <!-- 物理删除回收站记录 -->
    <delete id="physicalDeleteById">
        DELETE FROM t_recycle_bin WHERE id = #{id}
    </delete>

</mapper>
